@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  height: fit-content;
  background-color: #081C29;
}
.main-section {
  height: calc(100vh - 5rem);
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.main-section::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
.home {
  height: 100%;
}
.home-div {
  width: 35%;
}
.icon {
  height: 3rem; 
  width: 3rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .6rem;
  border-radius: 50%; 
  border: 2px solid #00EEFF;
}
.home-info {
  width: 50%;
} 
 

